<div class="weiboshow">
  <p class="asidetitle"><%= __('cloudmusic') %></p>
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width='100%' height=110 src="http://music.163.com/outchain/player?type=0&id=<%= theme.author.cloudmusicid %>&auto=0&height=90"></iframe>
</div>
